html, body {
	height: 100%;
	margin: 0;
}
.header {
	height: 22.5%;
	background: url("../images/Header.png");
	background-size: cover;
}
.footer {
	height: 22.5%;
	background: url("../images/Footer.png");
	background-size: cover;
}
.content {
	height: 55%;
	overflow: auto;
	background: url("../images/Body.png");
	background-size: contain;
	background-attachment: fixed;
	background-position: center;

}
p {
	color: lime;
	font-size: 48px;
	padding: 10px;
	border: 5px solid blue;


}
