html, body {
	height: 100%;
	margin: 0;
}
.header {
	top:0; left: 0;
	position: fixed;
    width: 100%;
    float: left;
	height: 12.5em;
	background: url("../images/Header.png");
	background-size: cover;
}
.footer {
	bottom: 0; left: 0;
	 position: fixed;
    width: 100%;
    float: left;
	height: 12.5em;
	background: url("../images/Footer.png");
	background-size: cover;
}
.content {
	margin-top: 12.5em;
	margin-bottom: 12.5em;
	 position: relative;
    width: 100%;
    float: left;
	height: 31.25em;
	background: url("../images/Body.png");
	background-size: cover;
	background-attachment: fixed;


}
