html, body {
	height: 100%;
	margin: 0;
}
.header {
	height: 22.5%;
	background: url("../images/Header.png");
	background-size: cover;
}
.footer {
	height: 22.5%;
	background: url("../images/Footer.png");
	background-size: cover;
}
.content {
	height: 55%;
	overflow: auto;
	background-top: 22.5%;
	background-bottom: 22.5%;
	background: url("../images/Body.png");
	background-size: cover;
	background-attachment: fixed;


}
